.currentDay {
    background-color: #E5E4E2;
}

.stb-cell a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.unavailable-cell {
    color: #808285;
}

.time-slot-button {
    display: block;
    margin: 5px 0;
    width: 100%;
}

.unavailable {
    background-color: #a1a1a1;
}

/* For computer screens */
@media (min-width: 1025px) {
    .stb-cell {
        cursor: pointer;
    }

    .stb-cell:hover {
        background-color: #3b3b3b;
    }
    .stb-cell:hover > a {
        color: #FAF9F6;
    }
}